.chat-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
    background-color: #f5f5f5;
}

.chat-head__companion-name {
    font-size: 18px;
    font-weight: bold;
}

.chat-head__search {
    width: 50%;
}