.chat-page {
    display: flex;
    height: 100%;
}

.chat-page__aside {
    height: 100%;

    &:first-child {
        width: 390px;
    }

    &:last-child {
        flex: 1;
        overflow: hidden;
    }
}
