.users-item {
    position: relative;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    align-items: flex-start;
    box-shadow: 2px 2px 5px #05367269;
    transform: translateY(0px);
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        box-shadow: 4px 4px 6px #05367269;
        transform: translateY(-2px);
        transition: 0.2s;
    }

    &.active {
        background-color: rgba(5, 54, 114, 0.4117647059);
    }
}

.users-item__side {
    box-sizing: border-box;
}

.users-item__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;

    img {
        object-fit: contain;
        object-position: center;
    }
}

.users-item__side-box {
    display: flex;
    align-items: center;
    position: relative;

    &:first-child {
        margin-bottom: 6px;
    }
}

.users-item__name {
    margin-right: auto;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color:#053671;
}

.users-item__date {
    font-size: 12px;
    line-height: 14px;
    color:#053671;
}

.users-item__preview-msg {
    width: 258px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.users-item__unread {
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ea5a1e;
    color: white;
    font-size: 12px;
    box-sizing: border-box;
    line-height: 20px;
    text-align: center;
    padding: 0 6px;
    position: absolute;
    right: -7px;
    top: -5px;
}