.user-bar {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.user-bar__head {
    box-sizing: border-box;
    padding: 10px 15px;
}

.user-bar__main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-height: 0;
}

.user-bar__main-search {
    margin-bottom: 20px;
}

.user-bar__main-users {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.user-bar__head-item {
    display: flex;
    align-items: center;
}

.user-bar__head-sound-control {
    margin: 0 auto;
}

.user-bar__head-logo {
    margin-right: auto;
}

.user-bar__head-chat-controls {
    margin-right: 10px;
}

.user-bar__head-profile-controls {
    position: relative;
}