.search-bar {
    width: 100%;
    overflow: hidden;
}

.search-bar__form {
    width: 100%;
}

.search-bar__input {
    width: 100%;
    padding: 9px 13px;
    border: 2px solid #E9E9ED;
    border-radius: 4px;
    box-sizing: border-box;
}