.profile-controls {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-controls__list {
    display: none;
}

.profile-controls__list.active {
    display: block;
    position: absolute;
    width: 150px;
    top: 40px;
    right: 0;
    background-color: #f7f7f7;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 4px 4px 6px #05367269;
    box-sizing: border-box;
    z-index: 1000;

    button {
        width: 100%;
        padding: 8px;
        border: none;
        background-color: transparent;
        text-align: left;
        cursor: pointer;
        border-radius: 4px;
        transition: 0.2s;

        &:last-child {
            background-color: #e65a20;
            color: #fff;

            &:hover {
                background-color: #e65a20b3;
            }
        }

        &:hover {
            background-color: #f7b79c40;
        }
    }
}

.profile-controls__btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        background-color: #a8c2e06b;
    }
}