.chat-controls {
    position: relative;
}

.chat-controls__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0;
    background-color: #19325b00;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
        background-color: #19325b63;
    }
}